/*
Enquiry blue #272D87
Activity green #186900
Contacts orange #C15200

General:
Teal #306B71    
Teal, lightened #c9e5e8
Gold #EBC90F
Gold, 60% lightened #FFFFA8
*/

html {
    margin: 0;
    padding: 0;
    font-size: 100%; /* this was needed after installing bootstrap otherwise the default font-size was too small*/
}

/*----------------------------------------------------------*/
/* boostrap overrides */
/*----------------------------------------------------------*/



.features {
    text-decoration: none !important;
}

.glyphicon.glyphicon-question-sign {
    color: #306B71;
}



.btn {
    background: linear-gradient(#fbd903,#e5c603);
    background-color: #e5c603;
    text-decoration: none;
}

.btn-teal {
    background: linear-gradient(#5eb1ba,#3d878f);
    background-color: #3d878f;
    text-decoration: none;
}

.btn-panel-heading {
    background: linear-gradient(#f5f5f5,#f5f5f5);
    background-color: #f5f5f5;
    text-decoration: none;
    border: none;
    padding: 0;
}

.navbar-brand small {
    display: block;
    font-size: 8px;
    text-align: right;
    background-color: #EBC90F;
    font-family: "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 3px;
    margin: 0px 0px 0px 0px;
    padding-top: 1px;
    height: 4px;
}

/*.badge {
    margin-bottom: 1px
}*/

/* no underline is the default behaviour with bootstrap but is overridden by our stylesheet elsewhere
    since we usually want to underline links */
a.list-group-item {
    text-decoration: none;
}

/* turn off link underlines in the navbar*/
.nav a {
    text-decoration: none;
}

.text-danger a {
    color: #a94442 !important;
}

/* make the jumbotron smaller*/
.jumbotron {
    padding: 0.5em 0.6em;
    background-color: #c9e5e8;
}

    .jumbotron h1 {
        font-size: 2em;
        padding-bottom: 0.5em;
    }

    .jumbotron p {
        font-size: 1.1em;
    }

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: antiquewhite;
}

/* styles for setting maximum column widths for input fields */

.max-minute {
    max-width: 35px;
}

.max-tiny {
    max-width: 60px;
}

.max-small {
    max-width: 120px;
}

.max-small-smallmedium {
    max-width: 130px;
}

.max-smallmedium {
    max-width: 160px;
}

.max-medium-small {
    max-width: 200px;
}

.max-medium {
    max-width: 240px;
}

.max-mediumlarge {
    max-width: 320px;
}

.max-large {
    max-width: 480px;
}

.max-xlarge {
    max-width: 600px;
}

.max-huge {
    max-width: 920px;
}

/* In forms, read only fields and links (which are always read only) should not be in a box,
    so that it's obvious to the user that they are read only */
input:read-only.form-control, textarea:read-only.form-control, a.form-control {
    border: 0;
    font-weight: normal;
    background-color: transparent;
    box-shadow: none;
    resize: none;
}

    /* To remove the halo on focus for a read only field or link */
    input:read-only.form-control:focus, a.form-control:focus {
        border-color: none;
        box-shadow: none;
    }

/*To make items which aren't form-control line up with form-control items on the same line in a table*/
.table-form-vcent{
    padding-top: 13px !important;
}

/* Row height for a standard form-control: useful when toggling visibility of rows if you don't want everything below to move*/
.row-height-min-standard {
    min-height: 40px;
}

/* Default gap below alerts, 20px, is too big */
.alert {
    margin-bottom: 10px;
}

    /* A table within an alert results in an excessive amount of padding*/
    .alert table {
        margin-bottom: 0px;
    }

    /* Link within an alert should match the color of the rest of the text*/
    .alert a:link, a:visited, a:active, a:hover {
        color: inherit;
    }

.well {
    background-color: #FDFAE7;
}

.well-pink {
    background-color: #f2dede;
}

/* increase spacing between elements in inline forms */
.form-inline > * {
    padding: 5px;
}

/* Alternative to the standard bootstrap formgroup where
    minimal padding is required */
.form-group-min-padding {
    margin-bottom: 2px;
}

.form-control-min-padding {
    padding-left: 2px;
    padding-right: 2px;
}

/* Make links which are next to text boxes, eg in contact selectors, vertically centred */
.link-textbox-vcent {
    padding-top: 8px;
}

.row-with-margin {
    margin-top: 5px;
}

.text-sm-right {
    text-align: right;
}

.text-md-right {
    text-align: right;
}

/* note - empty classes are defined so that they are available to intellisense */

/* makes the element full width on a mobile phone */
.btn-xs-fullwidth {
}

/* prevents elements in an inline form from wrapping */
.keep-inline-xs {
}

/* badges in panel headings */
.panel-default > .panel-heading .badgesome {
    color: #f5f5f5;
    background-color: #EBC90F;
    margin-top:-4px;
}

.panel-default > .panel-heading .badgenone {
    color: #f5f5f5;
    background-color: slategray;
    margin-top:-4px;
}

.panel-default > .panel-heading .badge-enquiry {
    color: #f5f5f5;
    background-color: #272D87;
    margin-top:-4px;
}

.panel-default > .panel-heading .badge-activity {
    color: #f5f5f5;
    background-color: #186900;
    margin-top:-4px;
}

.panel-default > .panel-heading .badge-black {
    color: #f5f5f5;
    background-color: black;
    margin-top:-4px;
}


.panel-heading .glyphicon-credit-card {
    color: #EBC90F;
    font-size: 1.7em;
    display: inline-block;
    margin-top: 7px;
    position: absolute;
}

.panel-default > .panel-heading-info{
  background-image: none;
  font-size: 0.5em;
  background-color: transparent;
  /*border: solid 1px #c9e5e8;*/
  /*border: solid 1px #ddd;*/
  color: #ffffff;
}

.panel-default > .panel-heading-info > .panel-title {
  font-size: 2em;
  color: #333;
}

/* text color in panel headings */

.panel-contact {
    color: #C15200;
}
.panel-enquiry {
    color: #272D87;
}

.panel-activity {
    color: #186900;
}

.bad-status {
    color: red;
}

.good-status {
    color: green;
}

/* Overlay: used for Keyboard shortcut menu*/
.overlay
 {
     position: absolute;
     top: 10%;
     left: 10%;
     right: 10%;
     bottom: 10%;
     border-radius: 25px;
     background-color: rgba(0, 0, 0, 0.8);
     z-index: 9999;
     color: white;
     display: inline-block;
     padding:2%;
 }

.overlay h2{
    color: #EBC90F;
}

.overlay h3{
    color: #EBC90F;
    font-weight: bold;
}

/* All h3's are Teal except in a well when they should be black */
.well h3  {
    color: #000;
}



/* boostrap size boundaries */
/* -xs ≤ 767px          phone           */
/* -sm 768px - 991px    tablet          */
/* -md 992px - 1199px   desktop         */
/* -lg ≥ 1200px         large desktops  */

/* media query for screens sm and below (tablet and phone) */
@media screen and (max-width: 991px) {
    .text-md-right {
        text-align: left;
    }

    /* To make the nav bar's search for a contact box optimum width*/
    .navbar-form .form-control {
        width: 165px;
    }

    .radio-inline-md-left {
        padding-left: 0px;
    }

}

/* media query for screens xs and below (phone) */
@media screen and (max-width: 767px) {

    .text-md-right {
        text-align: left;
    }

    .text-sm-right {
        text-align: left;
    }

    /* this applies some padding above a column once it's wrapped because the */
    /* default is for columns to butt up against each other */
    .col-sm-padding {
        padding-top: 15px;
    }

    /* restore the contact well margin top to 0 px */
    .contact-well {
        margin-top: 0px;
    }

}

/* media query for small phones up to large phones */
@media (min-width:320px) and (max-width:767px) {

    /* prevents elements in an inline form from wrapping */
    .keep-inline-xs {
        display: inline-block;
        vertical-align: top;
    }

}

/* media query for mobile phones */
@media all and (max-width:480px) {

    /* makes the element full width on a mobile phone */
    .btn-xs-fullwidth {
        width: 100%;
        display: block;
        margin-top: 5px;
    }

    /* make the help question mark bigger */
    .glyphicon-question-sign {
        font-size: 1.6em;
    }

    .xs-hidden {
        visibility: hidden ;
    }

}

/* media query for screens lg and above */
@media screen and (min-width: 1400px) {

}


/* media query for screens md and above */
@media screen and (min-width: 992px) {

    .pull-right-md {
        float: right;
    }
}

/* media query for screens sm and above */
@media screen and (min-width: 768px) {

    /* give the contact-well a margin-top the same as the h2 margin-top so that the two line up */
    .contact-well {
        margin-top: 20px;
    }

}

@media screen and (max-width: 992px) {

    /* Ensure the width of the dial-up separator on the contact create page is only as wide as the fields */
    .dial-up-separator {
        max-width: 300px !important;
    }

}

/* To prevent urls being printed after links */
@media print {
    a[href]:after {
        content: "" !important;
    }
}

/* ensure that when radio-inline radio button wrap, they are alligned under each other */
.radio-inline + .radio-inline {
    margin-left: 0;
}

.radio-inline {
    margin-right: 10px;
}

.radio-inline-condensed {
    margin-right: 5px;
}


/* Help boxes within table may need to be wider and lower */
thead th div.popover {
    max-width: 100%;
    top: +0px !important;
}

    thead th div.popover.right > .arrow {
        top: 22% !important;
    }

.panel-group-contactdetails {
    margin-bottom: 15px;
}

/*----------------------------------------------------------*/
/* jquery overrides */
/*----------------------------------------------------------*/


/* Make the font in the pop ups the same as other screens */
.ui-dialog {
    font-size: 1em !important;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif !important;
}

/*----------------------------------------------------------*/
/* custom styles */
/*----------------------------------------------------------*/

.contact-well p.emphasis, span.emphasis {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.contact-well span a,
.contact-well p a {
    text-decoration: none;
}

    .contact-well span a:hover, p a:hover {
        text-decoration: underline;
    }

/* For a smaller well where space is limited */
.contact-well.compressed {
    padding: 10px;
}

.contact-well.min-padding {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

    .contact-well.compressed p.emphasis, span.emphasis {
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }

.dashboard-well:hover {
    background-color: #f5f5f5;
}

.dashboard-well {
    text-align: center;
    margin-bottom: 0px;
}

.table-borderless th, .table-borderless td {
    border-top: none !important;
    border-bottom: none !important;
}

/*To present the close button in the contact well correctly*/
.alert-dismissable .close,
.alert-dismissible .close {
    top: -17px;
    right: -13px;
}

.alert-info
{
    background-color: #c9e5e8; /*Pale teal*/
    color: #306B71; /*Teal*/
}

/* set the maximum size of a modul and make the body scrollable*/
.modal .modal-body {
    max-height: 700px;
    overflow-y: auto;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 0.85em;
    /*bootstrap*/
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    margin: 0;
    /*bootstrap*/
    /*padding: 0;*/
}

a {
    color: #333;
    /*bootstrap*/
    /*outline: none;
    padding-left: 0px;
    padding-right: 0px;*/
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-mid {
    float: left;
}

.float-right {
    float: right;
    clear: none;
}

.header-search td {
    padding-right: 0px;
}

.header-search input {
    margin-right: 5px;
    margin-left: 8px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, 
h4, h5, h6 {
    color: #000;
    /*bootstrap*/
    /*margin-bottom: 0;
    padding-bottom: 0;*/
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    /*bootstrap*/
    /*margin-top: 10px;
    clear: none;*/
}

h3 {
    font-size: 1.2em;
    color: #306B71;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

td a.break-word {
    word-wrap: break-word;
}

.dial-up-separator {
    border-bottom: 1px solid #999999;
    max-width: 850px;
}
/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    /*max-width: 960px;*/
    /* width for 1280 resolution but with a bit of thumb space for tablet users*/
    max-width: 1160px;
}

#body {
    /*border-top: #efeeef;*/
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    /*border-top: solid 1px #306b71;*/
    padding-left: 10px;
    padding-top: 5px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 10px;
}

footer {
    clear: both;
    font-size: .8em;
    height: 100px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #306b71;
    font-family: "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 2.3em;
    /*margin: 5px 10px 0px 5px;*/
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #306b71;
        outline: none;
        text-decoration: none;
    }

/*.site-subtitle {
    background-color: #EBC90F;
    font-size: small;
    font-family: "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 3px;
    margin: 0px 0px 0px 5px;
    display: inline-block;
}*/

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 0 4px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 6px;
        padding-right: 5px;
    }

        ul#menu li a {
            background: none;
            color: #306b71;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }

/* login & logout
----------------------------------------------------------*/

#login {
    display: block;
    font-size: .85em;
    margin: 0 0 5px;
    text-align: right;
    color: #6B6B6B;
}

    #login a {
        margin-left: 5px;
        margin-right: 5px;
        padding: 2px 0px;
        text-decoration: underline;
        color: #6B6B6B;
    }


    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

#logoutForm {
    display: inline;
}

#loginForm {
    display: inline;
    padding-left: 20px;
}

.loginFormChar {
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

    .loginFormChar input[type=password] {
        text-align: center;
    }

#loginForm input[type=submit] {
    display: inline;
    margin: 10px 0px 0px 20px;
}

/* forms */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

label {
    /*display: block; SJJ commented out because it's a very severe thing to do at such a high level, was affecting help text. Only affected area seemed to be advanced search, which I have fixed*/
    /*font-size: 1.2em; commented this out because it's too generic using label, need to find something else eg label and form
    font-weight: bold; */
}

label.checkbox {
    display: inline;
}


/* Removed because :not kills ios9 styles and also for bootstrap */
/*textarea, :not(input[type="radio"]) {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 550px;
}*/

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

/*bootstrap*/
/*input[type="date"] {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    padding-left: 0px;
    margin-left: 0px;
    width: 135px;
}
}*/

input[type="button"],
input[type="submit"],
a.button-standard,
button {
    /*bootstrap*/
    /*background: linear-gradient(#fbd903, #e5c603);*/
    background-color: #e5c603;
    /*bootstrap*/
    /*border: 1px solid #EBC90F;*/
    /*border-radius: 5px;*/
    /*cursor: pointer;*/
    /*margin-right: 8px;*/
    /*width: auto;*/
    /*text-decoration: none;*/
}

/*bootstrap*/
/*input[type="submit"],
.button-standard {
    font-size: 1.1em;
    padding: 5px;
}*/


.button-small {
    font-size: 0.9em;
    padding: 3px;
}

.textareasmall {
    font-family: inherit;
    width: 300px;
}


/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: normal;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
/*bootstrap*/
/*table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
    margin-bottom: 0.75em;
}*/

th {
    /*SJ commented out 05/06/14 because it was causing a problem for contact notes personal details
        May need reinstating if it has caused a problem elsewhere, but should be more specific, ie with class */
    /*font-size: 1.2em; */
    text-align: left;
    border: none 0px;
    padding-left: 0;
    font-weight: 600;
}

    /*VLR commented out 12/10/15 becuase it was causing the help glyphicon to wrap when added to a table heading.
    Not sure what this wass in here for but it seems old.
*/
    /*th a {
        display: block;
        position: relative;
    }*/

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 1em 0.25em 0em;
    border: 0 none;
}

    td.Money {
        text-align: right;
    }

tr.pager td {
    padding: 0 0.25em 0 0;
}

/* DataTables*/

table.dataTable tfoot{
    font-weight: bold;
}

table.dataTable thead th{
    padding-top:0px;
}

/* Result List */
.ResultList {
    float: left;
    clear: both;
    margin-top: 0px;
    display: block;
    padding-top: 5px;
}

    .ResultList th {
        padding: 10px 10px 5px 5px;
        vertical-align: bottom;
        font-size: 0.9em;
    }

    .ResultList td {
        padding: 10px 10px 10px 5px;
        font-size: 0.95em;
        vertical-align: top; /*Important for rows with lists, eg countries in project search*/
    }


    .ResultList th a, th a:link, th a:visited, th a:active, th a:hover {
        text-decoration: underline;
        vertical-align: bottom;
    }

.ResultListFooter {
    padding: 5px 10px 10px 5px;
    clear: left;
}

.resultSubList {
    clear: left;
}

.resultList-active-row {
    color: #1618B6;
}

.resultList-inactive-row {
    color: slategray;
}

.resultList-alert-row {
    color: #a94442;
}

.resultList-active-row a {
    color: #1618B6;
}

.resultList-inactive-row a {
    color: slategray;
}

/* Web Grid*/

/*.noWrapCol {
    white-space: nowrap;
}*/

.webGridWrapCol {
    white-space: normal;
}

    .webGridWrapCol th a {
        font-size: 0.9em;
    }


.webgrid-footer td {
    padding-top: 10px;
}

.webgrid-alternating-row {
    background-color: antiquewhite;
}


.webgrid-footer a {
    padding: 0px 6px 0px 6px;
}

.webGridDate {
    width: 65px;
    white-space: normal;
}

.webGridMoney {
    text-align: right;
}

.webGridNarrow {
    max-width: 100px;
    white-space: normal;
}

.webGridWide {
    max-width: 200px;
    white-space: normal;
}

.webGridExtraWide {
    max-width: 400px;
    white-space: normal;
}

.webGridHidden {
    visibility: hidden;
}

.webGridContactName {
    width: 240px;
}

/*Dashboard*/
.dashboardItem {
    float: left;
    display: inline;
}

.dashboardLinkItem {
    clear: both;
    padding: 5px 5px 5px 5px;
}

.dashboardItem h4 {
    text-align: center;
}

.dashboardList {
    width: 380px;
    height: 405px;
}

.dashboardListWide {
    width: 550px;
    height: 405px;
}

.dashboardListExtraWide {
    width: 1140px;
}

/* This style allows the webgrid to use ResultList's styles but with less space between rows.*/
.dashboard-alternating-row td {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Impact Chart */

.projected-financial-colour,
.planned-interaction-colour,
.planned-interaction-colour a,
a.planned-interaction-colour {
    color: #ff9900;
}

.actual-financial-colour,
.actual-interaction-colour,
.actual-interaction-colour a,
a.actual-interaction-colour {
    color: #009999;
}

.initial-planned-financial-colour {
    color: #9aa6b1;
}

.impact-chart p {
    margin-bottom: 0px;
}

.impact-chart {
    width: 99%;
    font-size:0.9em;
}

span.impact-popover-content {
    font-size:0.9em;
}
.impact-chart td,
.impact-chart th
{
    border: 1px solid #999999;
    padding: 1px !important;
}

.impact-chart th.heading-row {
    border-right:none;
    border-left:none;
    border-bottom: 1px solid #999999;
}

.double-left-border {
    border-left: 3px double #999999 !important;
}

.double-right-border {
    border-right: 3px double #999999 !important;
}

.double-bottom-border {
    border-bottom: 3px double #999999 !important;
}

td.name-col
{
    max-width: 175px !important;
    min-width: 175px !important;
    width:175px !important;
}

td.data-col
{
    max-width: 70px !important;
    min-width: 70px !important;
    width: 70px !important;
}

td.total-col
{
    max-width: 115px !important;
    min-width: 115px !important;
    width:115px !important;
}

a.impact-popover {
    text-decoration: none;
}

/* This is so the multi-select doesn't crash into the buttons*/
.impact-chart-button {
    margin-top: 2px;
}

/*Everything else*/

.pager {
    width: 100%;
}


.display-label {
    width: 200px;
    display: block;
    padding-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
}

.display-label-small {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 0px;
}

.display-label-large {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
}

.display-label-block {
    width: 200px;
    display: inline-block;
    padding-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
}

.display-label-adjacent {
    width: 200px;
    font-size: 0.9em;
    font-weight: bold;
}

.display-field {
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
}

.display-field-text {
    display: inline-block;
}

.display-field a, .display-field-text, .display-field-small a {
    padding-left: 20px;
    padding-right: 0px;
}


.display-field input[type="text"] {
    width: 300px;
}

.display-field-checklabel /* SJJ for labels next to checkboxes*/ {
    width: 300px;
    float: left;
    clear: none;
}

.display-field-block {
    display: block;
    /*font-size: 1.2em; SJJ 26/01/15 was making project search criteria too big*/
    font-weight: normal;
    padding-bottom: 5px;
}



.display-field-large select {
    width: 300px;
}

.display-field-medium select {
    width: 200px;
}

.display-field select {
    margin-left: 0px;
    margin-right: 0px;
}

.display-field-large input[type="text"] {
    width: 500px;
}

.display-field-small input[type="text"], .display-field-small input[type="number"] {
    width: 100px;
}

.display-field-extra-small {
    width: 50px;
}


    .display-field-extra-small input[type="text"], .display-field-extra-small input[type="number"] {
        width: 50px;
    }

.LayoutViewField {
    padding-left: 6px;
}

.LayoutNewLine {
    float: left;
    clear: left;
    padding-bottom: 10px;
}

.LayoutAdjacent {
    float: left;
    clear: none;
}

.LayoutSidePanel {
    float: right;
    padding-top: 0px;
    padding-right: 10px;
    text-align: right;
    clear: none;
    overflow: hidden;
}

.errorMessage {
    color: red;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 50px;
}

.prominentMessage {
    display: block;
    color: red;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}


.searchButton input[type="button"],
button {
    cursor: pointer;
    /*bootstrap*/
    /*margin-right: 8px;*/
    width: auto;
}

.contactSearchElements input[type="text"] {
    width: 75%;
}

.contactSearchElements {
    padding-top: 15px;
}


ul.optionList li {
    padding-top: 5px;
    padding-bottom: 10px;
    list-style-type: none;
}

.featureItem {
    position: fixed;
    left: 45%;
    margin-right: 8px;
    width: auto;
}

.buttonLink {
    background: linear-gradient(#fbd903, #e5c603);
    border: 1px solid #EBC90F;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px;
}

    .buttonLink a {
        text-decoration: none;
    }

        .buttonLink a:hover {
            background: linear-gradient(#fbd903, #e5c603);
        }

.enquiry {
    color: #272D87;
}

    .enquiry a {
        color: #272D87;
    }

    .enquiry .concertinaData {
        color: #272D87;
    }

.activity {
    color: #186900;
}

    .activity a {
        color: #186900;
    }

    .activity .concertinaData {
        color: #186900;
    }

.contact .concertinaData {
    color: #C15200;
}

    .contact .concertinaData a {
        color: #C15200;
    }
/*Concertina heading*/

.linkline a {
    color: #C15200;
}


.concertinaData {
    float: left;
    clear: left;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 0px 5px 0px;
}

.concertinaNoData {
    float: left;
    clear: left;
    color: slategray;
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 0px 5px 0px;
}

    .concertinaNoData a {
        color: slategray;
    }

.concertinaSubHeading {
    float: left;
    clear: both;
    color: #306b71;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 0px 0px 5px;
}

.concertinaSubHeading a {
    color: #306b71;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}


.gridControls a {
    color: black;
}

.concertinaData a, .concertinaNoData a {
    text-decoration: none;
    cursor: pointer;
}

.accordianButton {
    cursor: pointer;
}

.accordianContent {
    clear: left;
}

.contactAccordianBlock {
    clear: left;
    margin-bottom: 20px;
    overflow: visible;
}

    .contactAccordianBlock .buttonLink, .contactAccordianBlock p {
        float: left;
        clear: left;
    }

/* For accordian panels*/
.concertinaPanelData {
    color: black;
    font-weight: bold;
}

    .concertinaPanelData a {
        text-decoration: none;
    }

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels e114*/
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.panel-heading {
    cursor: pointer;
}

.AdjacentItemLeft {
    clear: left;
    float: left;
    margin-right: 20px;
}

.AdjacentItemRight {
    clear: none;
    float: left;
}

.AdjacentItemCentre {
    clear: none;
    float: left;
    margin-right: 20px;
}

.pageTitle {
    font-size: 1.75em;
    margin-top: 10px;
    margin-left: 0px;
    font-weight: bold;
    float: left;
    clear: both;
}

.prominentBox {
    border: solid 2px #EBC90F;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .prominentBox p {
        padding: 0px 0px 0px 0px;
        margin: 4px 10px 0px 0px;
    }

.error {
    color: #e80c4d;
}

.systemInfo {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 6px;
    margin-left: 3px;
    background-color: #EBC90F;
}

.fieldHelper {
    font-size: 0.85em;
    color: #306B71;
    margin-top: 5px;
    display: inline;
}

/* following "loading" selectors are for the "Searching..." spinner*/
#loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 1000;
}

#loadingcontent {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#loadingspinner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: larger;
    padding-top: 80px;
}

.inlineButton {
    margin-top: 10px;
    margin-bottom: 10px;
    clear: left;
}

.version {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: xx-small;
}

.connection {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: xx-small;
}

/*Activities*/

/* bootstrap */
/*.activityInstance td {
    vertical-align: top;
}*/

/* bootstrap */
/*.activityStages {
    margin-top: 0px;
    margin-bottom: 0px;
}

    .activityStages td {
        padding: 0px 10px 3px 20px;
    }*/

.inline-link {
    display: inline-block;
    font-size: small;
    font-weight: normal;
    padding-left: 20px;
    vertical-align: bottom;
}

.inlineHeadingLink {
    display: inline-block;
    font-size: small;
    font-weight: normal;
    padding-left: 20px;
    padding-top: 20px;
}

.inlineContent {
    font-size: small;
    font-weight: normal;
    padding-left: 20px;
    padding-top: 10px;
}

/* Map */
#map_canvas img {
    max-width: none;
}

.map_large {
    height: 700px;
    width: 1000px;
    margin: 20px 20px 5px 5px;
}

.map_small {
    height: 400px;
    width: 500px;
    margin: 20px 20px 5px 5px;
}

.mapInfoDiv {
    height: 170px;
    width: 250px;
    -webkit-user-select: none;
    background-color: white;
    border: solid 1px white;
}

.saveMessage {
    padding: 0px 10px 0px 10px;
    font-size: 0.70em;
    font-weight: normal;
    margin-left: 50px;
}

/* If the Save Message is in a line by itself, don't indent it */
h2 span.saveMessage:only-child {
    margin-left: 0px;
}

.home-news {
    padding: 10px;
    margin: 10px;
    border: solid 1px #EBC90F;
}

.pleasedontfloat {
    clear: both;
}

.accordianHelp {
    font-weight: normal;
}

    .accordianHelp img {
        vertical-align: initial;
    }

/* Project search */
.chosen-container-multi .chosen-choices {
    font-weight: normal;
    background-color: pink;
}

.requiresFundingAmount {
    display: none;
}

/* Controls the color of the multi-select drop down as the user hovers over items */
.chosen-container .chosen-results li.highlighted {
    background-color: #FFFFA8;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #FFFFA8), color-stop(90%, #EBC90F));
    background-image: -webkit-linear-gradient(#FFFFA8 20%, #EBC90F 90%);
    background-image: -moz-linear-gradient(#FFFFA8 20%, #EBC90F 90%);
    background-image: -o-linear-gradient(#FFFFA8 20%, #EBC90F 90%);
    background-image: linear-gradient(#FFFFA8 20%, #EBC90F 90%);
    color: #444;
}

/* Project search end */




/* extra wide screens */
@media (min-width: 1200px) and (max-width: 1599px) {
    .hidden-lg {
        display: none !important;
    }
}


.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
    display: none !important;
}



@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333333%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333333%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }

    .col-xl-pull-12 {
        right: 100%;
    }

    .col-xl-pull-11 {
        right: 91.66666667%;
    }

    .col-xl-pull-10 {
        right: 83.33333333%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-8 {
        right: 66.66666667%;
    }

    .col-xl-pull-7 {
        right: 58.33333333%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-5 {
        right: 41.66666667%;
    }

    .col-xl-pull-4 {
        right: 33.33333333%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-2 {
        right: 16.66666667%;
    }

    .col-xl-pull-1 {
        right: 8.33333333%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-push-12 {
        left: 100%;
    }

    .col-xl-push-11 {
        left: 91.66666667%;
    }

    .col-xl-push-10 {
        left: 83.33333333%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-8 {
        left: 66.66666667%;
    }

    .col-xl-push-7 {
        left: 58.33333333%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-5 {
        left: 41.66666667%;
    }

    .col-xl-push-4 {
        left: 33.33333333%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-2 {
        left: 16.66666667%;
    }

    .col-xl-push-1 {
        left: 8.33333333%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-offset-12 {
        margin-left: 100%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }

    .visible-xl {
        display: block !important;
    }

    table.visible-xl {
        display: table;
    }

    tr.visible-xl {
        display: table-row !important;
    }

    th.visible-xl, td.visible-xl {
        display: table-cell !important;
    }

    .visible-xl-block {
        display: block !important;
    }

    .visible-xl-inline {
        display: inline !important;
    }

    .visible-xl-inline-block {
        display: inline-block !important;
    }

    .hidden-xl {
        display: none !important;
    }
}
