<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script>
        var beforeload = (new Date()).getTime();
        function getLoadTime() {
            var afterload = (new Date()).getTime();
            seconds = (afterload - beforeload) / 1000;
            var n = document.getElementById('num');
            var a = document.getElementById('acc');
            var s = document.getElementById('time');
            var loadTime = window.performance.timing.domContentLoadedEventEnd - window.performance.timing.navigationStart;

            n.innerHTML = document.querySelectorAll('selector').length;

            if (Math.floor(seconds) >= 1) {
                s.innerHTML = Math.floor(seconds) + 'seconds';
            } else {
                s.innerHTML = seconds + 'miliseconds';
            }
        }

    </script>
</head>
<body>
    <div id="test"><s><span id="time"></span></s> to display <s><span id="num"></span></s> elements</div>

    <script>
        getloadtime();
    </script>
</body>
</html>