@{
    ViewBag.Title = "Display Formatted Text and Images";
    
}

@using MvcMovie.Resources;
<p></p>
<p></p>
<p></p>


<div class="row">

    <div class="col-md-12">
        <a href="@Url.Action("Text", "HelloWorld")">
            <image src="/Content/images/back_button.png" width="70" height="70" valign="top" alt="Back"></image>
        </a>
        <span class="pull-right">
            <a href="@Url.Action("Enter", "HelloWorld")">
                <image src="/Content/images/forward_button.png" width="70" height="70" valign="top" alt="Continue"></image>
            </a>
        </span>
    </div>
</div>




<p>
    Welcome to the internet test application, display page. Please enjoy looking at this formatted text
    and image content displayed here. You need not read or understand the content of this page.
</p>
<p></p>
<p></p>


<div class="row">
    <div class="col-md-12">
        <image src="/Content/images/about_us.jpg"></image>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis ac massa eleifend tempor. Pellentesque eu nisl id dolor convallis elementum vitae eu purus. Mauris nisl felis, ornare eu nulla id, suscipit lobortis purus. Ut vulputate eleifend eleifend. Nulla euismod aliquam massa eu tempor. Vivamus condimentum urna nisl, sit amet bibendum augue eleifend nec. Suspendisse potenti. Cras iaculis nunc sed quam venenatis hendrerit. Nam egestas sem nibh, ut sodales quam iaculis at.
        </p>
        <p>
            Etiam purus nisl, volutpat at turpis eget, hendrerit dignissim sem. Phasellus dapibus sapien urna, eu venenatis massa egestas sit amet. Duis lobortis rutrum purus, et lobortis lorem iaculis et. Aliquam pharetra tellus leo, a lacinia nisl accumsan non. Cras ac ante a ante mollis hendrerit. Vestibulum fringilla lobortis magna, eu imperdiet erat blandit id. Maecenas ultricies semper justo, quis congue lorem porta sed. Fusce dictum congue gravida.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/Lastinglocalchange.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/LifeEssential.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <image src="/Content/images/get_involved.jpg"></image>
        <p>
        <p>
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam non vestibulum lectus. Integer vel semper diam, sed pharetra arcu. Integer et ultrices massa. In fermentum eros ut nunc euismod porta. Phasellus consequat dignissim massa vel hendrerit. Quisque id placerat nibh, quis pulvinar augue.
        </p>
        <p>
            Aliquam blandit sagittis cursus. Quisque pulvinar justo leo, placerat hendrerit nulla egestas at. Quisque neque eros, accumsan eget interdum ac, tincidunt sit amet nulla. Quisque volutpat aliquet ipsum quis eleifend. Nam finibus odio commodo pulvinar rutrum. Vivamus justo nisi, hendrerit vel elementum vitae, molestie ac urna. Donec tempor malesuada risus, ut gravida massa cursus ut.
        </p>
        <image src="/Content/images/stories.jpg"></image>
        <p />
        <p>
            Nulla non magna eu nulla placerat sagittis. Praesent gravida tortor in massa hendrerit vestibulum. Curabitur congue ultricies quam. Nullam egestas, nunc nec vulputate ultricies, enim tortor molestie felis, tristique tempus massa ante ac libero. Pellentesque facilisis erat vel est ullamcorper, id luctus nulla egestas. Aenean ut turpis sit amet diam gravida consequat sed et ipsum. Donec ac purus nec justo laoreet fermentum nec vel nisi. Quisque id risus non magna euismod pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras tincidunt ac nulla cursus viverra.
        </p>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <a href="@Url.Action("Text", "HelloWorld")">
            <image src="/Content/images/back_button.png" width="70" height="70" valign="top" alt="Back"></image>
        </a>
        <span class="pull-right">
            <a href="@Url.Action("Enter", "HelloWorld")">
                <image src="/Content/images/forward_button.png" width="70" height="70" valign="top" alt="Continue"></image>
            </a>
        </span>
    </div>
</div>
