
@{
    ViewBag.Title = "Congratulations! Internet Testing Starts Here";
    Layout = null;
}
<p>
</p>
<p></p>
<p>Congratulations you are viewing the internet testing application, start page</p>
<p></p>
<a href="/HelloWorld/Text">Continue</a> 



