
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-md-12">
        <a href="@Url.Action("Upload", "HelloWorld")">
            <image src="/Content/images/back_button.png" width="70" height="70" valign="top" alt="@Resources.Back"></image>
        </a>
    </div>
</div>
<h4>Success! You have completed the entire internet test application</h4>


