<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
    </script>

    <script type="text/javascript">
        //always null
        //var isPostBackObject = document.getElementById('isPostBack');
       

        $(document).ready(function () {
            

            if (document.getElementById('_ispostback').value == 'True') {
                // do something
            } else {
                alert("not a postback");
            }

            document.getElementById('Hidden1').value = "testing !!!!!";
            document.getElementById("postbackform").submit();
        });
    </script>

</head>
<body>
    <form id="postbackform">
        <div>
            <input type="hidden" id="_ispostback" value="<%=Page.IsPostBack.ToString()%>" />
            <input id="Hidden1" type="hidden" value="" formaction="PostbackPageLoadTime" />

        </div>

    </form>
</body>
</html>

